.keypad__cell {
  padding: .25rem;
}

button {
  font-family: 'Fira', sans-serif;
  font-size: 2rem;
  border-radius: .25rem;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0.5px rgba(black, 0.2), .20rem .20rem 3px rgba(black, 0.2);
  transition: transform .1s ease-out, box-shadow .1s ease-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 5rem;
}

button:active {
  box-shadow: 0 0 0.5px rgba(black, 0.2), 0 0 1px rgba(black, 0.3);
  transform: translateY(3px);
  outline: 0;
}

button:focus {
  outline: 0;
}
