html {
  font-size: 16px;
  background-color: #DDD;
}

body {
  font-size: 100%;
  font-family: 'Fira', sans-serif;
}

* {
  box-sizing: border-box;
}

.calc-container {
  max-width: 42rem;
  margin: auto;
  margin-top: 4rem;
}
