.calc-display {
  font-size: 4rem;
  padding: .5rem 1rem;
  margin: .25rem;

  background-color: white;
  border-radius: .25rem;

  box-shadow: 0 0 0.5px rgba(black, 0.2);
  letter-spacing: 0.125rem;
}
